<%# å€‹äººã®è©³ç´° ã€ŒMYãƒšãƒ¼ã‚¸ã€ %>
<div class="top-long-image">
  <div class="top-header">

    <%# ãƒ¡ãƒ‹ãƒ¥ãƒ¼ %>
    <%= render "shared/menu" %>
  </div>

  <div class="accordion-category-mypage">
    <br/>
    <h3><%= "#{@user.nickname}ã•ã‚“ã®ãŠéƒ¨å±‹ï¼ˆå‡ºå“æ•°  #{@items.count}ðŸŽ‰ï¼‰"%></h3>
    <%= link_to "(ãƒ¦ãƒ¼ã‚¶ãƒ¼æƒ…å ±ã®ç·¨é›†)", edit_user_registration_path, class: "title3" %><br/>
    <% @items.reverse_each do |item| %>
      <div class="item-list">
        <%= render partial: "shared/item", locals: { item: item } %>
      </div>
    <% end %>
  </div>
</div>