<%# 個人の詳細 「MYページ」 %>
<section class="top-image">
  <div class="top-header">

    <%# メニュー %>
    <%= render "shared/menu" %>

    <br/><br/>
    <span class="title2"><%= "#{@user.nickname}さんの部屋（出品数#{@items.count}）" %></span><br/>
    <%= link_to "(ユーザー情報の編集)", edit_user_registration_path, class: "title3" %>
  </div>
    <% @items.reverse_each do |item| %>
    <div class="item-list">
    <%= render partial: "shared/item", locals: { item: item } %>
    </div>
    <% end %>
</section>

<section class="second-top-image">
  </section>