<%# １つのアイテム情報 %>


<%#= アイテムの画像 %>
<p>
<%= link_to item_path(item.id) do %>
<%= image_tag item.image.variant(resize: '300x300') if item.image.attached? %>
<% end %>
</p>

<%#= アイテムのタイトル %>
<p>
<%= item.name %>
<%= "<by #{item.user.nickname}>" %>
</p>