<%# トップページ %>

<%# トップページ① %>
  <section class="top-image">
   <div class="top-header">
      <%= render "shared/menu" %>

      <%# トップページのタイトル %>
    

     <br/><br/>
     <div class="title">「Douzo 
     <span class="title1">〜どうぞ〜</span>」</div>
     <span class="easel">
     <%= image_tag("easel.png") %></span>
     <span class="sample">
     <%= image_tag("ehon.png") %></span>
    </div>
  </section>

   
    <%# トップページ② 出品例 %>
  <section class="second-top-image">
  </section>