<%# トップページ %>

<%# トップページ① %>
<div class="top-image">
  <div class="top-header">
    <%# メニュー %>
    <%= render "shared/menu" %>
  </div>
  
  <%# トップページのタイトル %>
  <br/><br/>
  <div class="title">「Douzo 
    <span class="title1">〜どうぞ〜</span>」
  </div>

  <div class="title2">「思い出の品」交換しませんか
    <%# スライドショー %>
    <div class="slider">
      <img src="assets/book.jpg">
      <img src="assets/girl.jpg">
      <img src="assets/fue.jpg">
      <img src="assets/keyboad.jpg">
      <img src="assets/baby-shoes.jpg">
    </div>
  </div>
</div>

 
  