<%= render "shared/header" %>
<%# トップページ %>

<%# 画面上部%>
<section class="top">
 
  <h1 class="title">「Douzo どうぞ」へようこそ</h1>
  <p>「ゆずりたい」「ほしい」をつなげるお手伝いをします<br>
  </p>
</section>

<%# サンプル画像を貼り付ける %>
<p>「どうぞ」の一例</p>
<%= render partial: "item", collection: @items %>


<%# /サンプル画像を貼り付ける %>

<%# 商品検索 %>
<p>さがしてみよう</p>
制服
制帽
ポロシャツ
体操服
道具（お道具箱，算数セットなど）
靴
おもちゃ
本
文房具

<%# 商品検索 %>