<%# トップページ %>

<%# トップページ① %>
<section class="top-image">
  <div class="top-header">
    <%# メニュー %>
    <%= render "shared/menu" %>
  </div>
  
  <%# トップページのタイトル %>
  <br/><br/>
  <div class="title">「Douzo 
    <span class="title1">〜どうぞ〜</span>」
  </div>

  <div class="title2">「思い出の品」交換しませんか
    <%# スライドショー %>
    <div class="slider">
      <img src="assets/1.jpg">
      <img src="assets/5.jpg">
      <img src="assets/6.jpg">
      <img src="assets/7.jpg">
      <img src="assets/2.jpg">
      <img src="assets/3.jpg">
    </div>
  </div>

</section>

 
  