<%# 新規アイテム投稿ページ %>

<div class="top-image">
  <div class="top-header">
    <%= render "shared/menu" %>
  </div>
  <div class="accordion-category-login">
    <br/>
    <h3>出品ページ🧢</h3>
    <%= render "shared/form" %>
  </div>
</div>