.red-btn {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.search-btn {
  width: 10vw;
  height: 4vh;
  font-weight: bolder;
  color: white;
  background: skyblue;
  border: 1px solid black;
  cursor: pointer;
}

.login-btn {
  width: 10vw;
  height: 4vh;
  font-weight: initial;
  cursor: pointer;
}

.search-placeholder {
  width: 20vw;
  line-height: 30px;
  font-size: 14px;
  border: 2px solid black;
}

.login-red-btn {
  width: 15vw;
  height: 5vh;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}

.sell-btn{
  width: 15vw;
  height: 5vh;
  background: yellowgreen;
  border: 1px solid yellowgreen;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}