.title {
  font-weight: bolder;
  font-size: 6vmax;
  font-family: fantasy;
  color:black;
}

.title1 {
  font-weight: bolder;
  font-size: 3.5vmax;
  font-family:monospace;
  color:black;
}

.title2 {
  font-family:initial;
  font-weight: bolder;
  font-size: 3vmax;
  font-family: fantasy;
  color:black;
}

.title3 {
  text-decoration: none;
  color: black;
  font-size:2vmax;
}

.logo0{
  display: inline-table;
  padding-right: 5vw;
}

.logo {
  font-size: 4vmax;
}

.logo1{
  font-size: 4vmax;
  text-decoration: none;
  color: white;
}

.menu{
  display:inline-flexbox;
  word-spacing: 5vw;
  font-size: 2vmax;
}