//タイトル
.title {
  text-align: right;
  font-weight: bolder;
  font-size: 10vmax;
  font-family: fantasy;
  color:black;
  animation-name: fadein;
    animation-duration: 2s;
}
@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}
//タイトル//

.title1 {
  font-weight: bolder;
  font-size: 4vmax;
  font-family:monospace;
  color:black;
}

//タイトル２
.title2 {
  text-align: center;
  padding-left: 30%;
  font-family:initial;
  font-weight: bolder;
  font-size: 2vmax;
  font-family: fantasy;
  color:black;
  animation-name: fadein;
  animation-duration: 7s;
}
@keyframes fadein {
from {
  opacity: 0;
  transform: translateY(20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}
//タイトル２//

.title3 {
  text-decoration: none;
  color: black;
  font-size:2vmax;
}

.logo0{
  display: inline-table;
  padding-right: 5vw;
}

.logo {
  font-size: 4vmax;
}

.logo1{
  font-size: 4vmax;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.logo1:hover{
  color:red;
}

.login{
  text-decoration: none;
  font-size: 2vmax;
}


.link {
  text-decoration: none;
  color:white;
  font-weight: bolder;
  transition: color 0.3s;
}
.link:hover {
  color: red;
}

.fa-search {
  display: inline-block;
  text-decoration: none;
  font-size:5vmax;
  color:white;
  font-weight: bolder;
  transition: color 0.3s;
  transition: all .3s ease 0s;
}

.fa-search:hover{
  color:yellow;
  cursor: pointer;
  transform: scale(1.5);
}

.menu{
  display:inline-flexbox;
  word-spacing: 5vw;
  font-size: 2vmax;
}

.new-registration{
  text-decoration: none;
  color: black;
}

.passwords{
  text-decoration: none;
  color: black;
}