section {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.top-image {
  background-image: image-url('bear.jpg');
  text-align: center;
  padding-top: 3vh;
  height: 100vh;
  width: 100vw;
}

.second-top-image {
  background-image: image-url('easel.jpg');
  height: 100vh;
  width: 100vw;
}

.search-top {
  background-color: burlywood;
  height: 100vh;
  width: 100vw;
}

.background{
  background-color: gray;
  width: 40vw;
  height: auto;
  margin: auto;
}

.item-list{
  display:flex;
  display:inline-block;
  text-align: center;
  font-size: 1.5vmax;
  padding: 15px;
}

.link {
  text-decoration: none;
  color:white;
  font-weight: bolder;
}

.top-header {
  text-justify: auto;
  font-size: 2vmax;
  font-family:fantasy;
  img {width: 5vw};
  word-spacing: 40px;
}

.easel {
  img {height: 64vh};
  img {width: 64vw};
  padding-left: 40vw;
}

.sample {
  img {height: 15vh};
  img {width: 15vw};
  padding-left: 40vw;
}

.item{
  image-rendering: crisp-edges;
}

.search{
  display: inline;
  font-size: 3vmax;
}

.headershare {
  font-size: larger;
  font-family: fantasy;
  text-justify: auto;
  font-weight: bolder;
  text-decoration: none;
  color:plum;
}

section {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: white;
}

.c {
  height: 20vh;
  width: 20vw;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
  margin: 20px auto;
  color: #fff;
}


.subcategoryItems {
  display: none;
  background: #C8E6C9;
  li {
    border-bottom: 1px solid #B6B6B6;
  }
}

.subcategoryItems a {
  display: block;
  color: #727272;
  padding: 12px 12px 12px 45px;
  transition: all 0.4s ease-out;
  &:hover {
    background-color: #CDDC39;
    color: #fff;
  }
}